body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
  border: 1px solid;
  border-color: red;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid;
  border-color: white;
}

.title {
  background: #e3f4ff;
  margin-top: 0px;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin-top: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: .5em;
}